@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Bevan|Josefin+Sans&display=swap');

// Set your brand colors
$red: #ED6A5A;
$red-dark: #FB4D3D;
$yellow: #EAC435;
$platinum: #E6EBE0;
$blond: #F4F1BB;
$green: #03CEA4;
$blue-dark: #345995;

// Update Bulma's global variables
$family-sans-serif: "Josefin Sans", sans-serif;
$family-primary: "Bevan", cursive;
$grey-dark: $yellow;
$grey-light: $platinum;
$primary: $blue-dark;
$danger: $red;
$link: $yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $platinum;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";
